/* Tooltip container*/
.tooltip {
    position: relative;
    display : inline-block;
}

/* Tooltip text */
.tooltip .tooltiptext {
    visibility      : hidden;
    width           : 120px;
    background-color: #555;
    color           : #fff;
    text-align      : center;
    padding         : 5px 0;
    border-radius   : 6px;

    /* Position the tooltip text */
    position   : absolute;
    z-index    : 1;
    bottom     : 125%;
    left       : 50%;
    margin-left: -60px;

    /* Fade in tooltip */
    opacity   : 0;
    transition: opacity 0.3s;
}

/* Tooltip arrow */
.tooltip .tooltiptext::after {
    content     : "";
    position    : absolute;
    top         : 100%;
    left        : 50%;
    margin-left : -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity   : 1;
}

body {
    margin   : 0;
    min-width: 250px;
}

/* Include the padding and border in an element's total width and height */
* {
    box-sizing: border-box;
}

/* Remove margins and padding from the list */
ul {
    margin : 0;
    padding: 0;
}

/* Style the list items */
ul li {
    cursor         : pointer;
    position       : relative;
    padding        : 12px 8px 12px 40px;
    list-style-type: none;
    background     : #eee;
    font-size      : 18px;
    transition     : 0.2s;

    /* make the list items unselectable */
    -webkit-user-select: none;
    -moz-user-select   : none;
    -ms-user-select    : none;
    user-select        : none;
}

/* Set all odd list items to a different color (zebra-stripes) */
ul li:nth-child(odd) {
    background: #f9f9f9;
}

/* Darker background-color on hover */
ul li:hover {
    background: #ddd;
}

/* When clicked on, add a background color and strike out text */
ul li.checked {
    background     : #888;
    color          : #fff;
    text-decoration: line-through;
}

/* Add a "checked" mark when clicked on */
ul li.checked::before {
    content     : '';
    position    : absolute;
    border-color: #fff;
    border-style: solid;
    border-width: 0 2px 2px 0;
    top         : 10px;
    left        : 16px;
    transform   : rotate(45deg);
    height      : 15px;
    width       : 7px;
}

/* Style the close button */
.close {
    position: absolute;
    right   : 0;
    top     : 0;
    padding : 12px 3px 12px 16px;
    color: red;
    font-weight: 800;
}

.close:hover {
    background-color: #f44336;
    color           : white;
}

/* Style the header */
.header {
    background-color: #1abc9c;
    padding         : 30px 40px;
    color           : white;
    text-align      : center;
}

/* Clear floats after the header */
.header:after {
    content: "";
    display: table;
    clear  : both;
}

/* Style the input */
#ToDo {
    margin       : 0;
    border       : 0px solid black;
    border-radius: 0;
    width        : 75%;
    padding      : 10px;
    float        : left;
    font-size    : 16px;
}

/* Style the "Add" button */
.addBtn {
    padding      : 10px;
    width        : 25%;
    background   : #d9d9d9;
    color        : #555;
    float        : left;
    text-align   : center;
    font-size    : 16px;
    cursor       : pointer;
    transition   : 0.3s;
    border-radius: 0;
}

.addBtn:hover {
    background-color: #bbb;
}

body {
    margin     : 0;
    font-family: Arial, Helvetica, sans-serif;
}

.topnav {
    overflow        : hidden;
    background-color: #333;
}

.topnav a {
    float          : left;
    color          : #f2f2f2;
    text-align     : center;
    padding        : 14px 16px;
    text-decoration: none;
    font-size      : 17px;
}

.topnav a:hover {
    background-color: #ddd;
    color           : black;
}

.topnav a.active {
    background-color: #1abc9c;
    color           : white;
}
* {
    box-sizing: border-box;
  }
  
  /* Style the body */
  body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
  }
  
  body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .topnav {
    overflow: hidden;
    background-color: #333;
  }
  
  .topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .topnav a.active {
    background-color: #1abc9c;
    color: black;
  }
  
  .topnav .icon {
    display: none;
  }
  
  @media screen and (max-width: 915px) {
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
      float: right;
      display: block;
    }
  }
    @media screen and (max-width: 915px)   {
      .topnav a {
      display: none;
    }
  }
  
  @media screen and (max-width: 915px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
  }
.stwitch{
  color: black;
}