/* Tooltip container test */
.tooltip {
    position: relative;
    display : inline-block;
}

/* Tooltip text */
.tooltip .tooltiptext {
    visibility      : hidden;
    width           : 120px;
    background-color: #555;
    color           : #fff;
    text-align      : center;
    padding         : 5px 0;
    border-radius   : 6px;

    /* Position the tooltip text */
    position   : absolute;
    z-index    : 1;
    bottom     : 125%;
    left       : 50%;
    margin-left: -60px;

    /* Fade in tooltip */
    opacity   : 0;
    transition: opacity 0.3s;
}

/* Tooltip arrow */
.tooltip .tooltiptext::after {
    content     : "";
    position    : absolute;
    top         : 100%;
    left        : 50%;
    margin-left : -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity   : 1;
}

body {
    margin   : 0;
    min-width: 250px;
}

/* Include the padding and border in an element's total width and height */
* {
    box-sizing: border-box;
}

/* Remove margins and padding from the list */
ul {
    margin : 0;
    padding: 0;
}

/* Style the list items */
ul li {
    cursor         : pointer;
    position       : relative;
    padding        : 12px 8px 12px 40px;
    list-style-type: none;
    background     : #eee;
    font-size      : 18px;
    transition     : 0.2s;

    /* make the list items unselectable */
    -webkit-user-select: none;
    -moz-user-select   : none;
    -ms-user-select    : none;
    user-select        : none;
}

/* Set all odd list items to a different color (zebra-stripes) */
ul li:nth-child(odd) {
    background: #f9f9f9;
}

/* Darker background-color on hover */
ul li:hover {
    background: #ddd;
}

/* When clicked on, add a background color and strike out text */
ul li.checked {
    background     : #888;
    color          : #fff;
    text-decoration: line-through;
}

/* Add a "checked" mark when clicked on */
ul li.checked::before {
    content     : '';
    position    : absolute;
    border-color: #fff;
    border-style: solid;
    border-width: 0 2px 2px 0;
    top         : 10px;
    left        : 16px;
    transform   : rotate(45deg);
    height      : 15px;
    width       : 7px;
}

/* Style the close button */
.close {
    position: absolute;
    right   : 0;
    top     : 0;
    padding : 12px 16px 12px 16px;
}

.close:hover {
    background-color: #f44336;
    color           : white;
}

/* Style the header */
.header {
    background-color: #4CAF50;
    padding         : 30px 40px;
    color           : white;
    text-align      : center;
}

/* Clear floats after the header */
.header:after {
    content: "";
    display: table;
    clear  : both;
}

/* Style the input */
#ToDo {
    margin       : 0;
    border       : 0px solid black;
    border-radius: 0;
    width        : 75%;
    padding      : 10px;
    float        : left;
    font-size    : 16px;
}

/* Style the "Add" button */
.addBtn {
    padding      : 10px;
    width        : 25%;
    background   : #d9d9d9;
    color        : #555;
    float        : left;
    text-align   : center;
    font-size    : 16px;
    cursor       : pointer;
    transition   : 0.3s;
    border-radius: 0;
}

.addBtn:hover {
    background-color: #bbb;
}

body {
    margin     : 0;
    font-family: Arial, Helvetica, sans-serif;
}

.topnav {
    overflow        : hidden;
    background-color: #333;
}

.topnav a {
    float          : left;
    color          : #f2f2f2;
    text-align     : center;
    padding        : 14px 16px;
    text-decoration: none;
    font-size      : 17px;
}

.topnav a:hover {
    background-color: #ddd;
    color           : black;
}

.topnav a.active {
    background-color: #1abc9c;
    color           : white;
}
* {
    box-sizing: border-box;
  }
  
  /* Style the body */
  body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
  }
  
  /* Header/logo Title */
  .header {
    padding: 80px;
    text-align: center;
    background: #1abc9c;
    color: white;
  }
  
  /* Increase the font size of the heading */
  .header h1 {
    font-size: 40px;
  }
  
  /* Style the top navigation bar */
  .navbar {
    overflow: hidden;
    background-color: #333;
  }
  
  /* Style the navigation bar links */
  .navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
  }
  
  /* Right-aligned link */
  .navbar a.right {
    float: right;
  }
  
  /* Change color on hover */
  .navbar a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Column container */
  .row {  
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
  }
  
  /* Create two unequal columns that sits next to each other */
  /* Sidebar/left column */
  .side {
    -ms-flex: 30%; /* IE10 */
    flex: 30%;
    background-color: #f1f1f1;
    padding: 20px;
  }
  
  /* Main column */
  .main {   
    -ms-flex: 70%; /* IE10 */
    flex: 70%;
    background-color: white;
    padding: 20px;
  }
  
  /* Fake image, just for this example */
  .fakeimg {
    background-color: #aaa;
    width: 100%;
    padding: 20px;
  }
  
  /* Footer */
  .footer {
    padding: 20px;
    text-align: center;
    background: #ddd;
  }
  
  /* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 700px) {
    .row {   
      flex-direction: column;
    }
  }
  
  /* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
  @media screen and (max-width: 400px) {
    .navbar a {
      float: none;
      width: 100%;
    }
  }